

$text-colour = black
$page-colour = #fcfcfc

$text-size = 16px
$text-font = "Noto Sans", Verdana, sans-serif


body
  padding 0 50px
  // font-size $text-size
  font-family $text-font
  line-height: 1.5em
  color $text-colour
  background $page-colour


input
textarea
button
  font: inherit;

