
@import url("http://fonts.googleapis.com/css?family=Noto+Sans")


$text-colour = black
$page-colour = #fcfcfc


body
  padding 0 50px
  font 16px/150% "Noto Sans", "Lucida Grande", Verdana, sans-serif
  color $text-colour
  background $page-colour


input
textarea
button
  font: inherit;

