<table class="table data-series">
  <caption ng-show={{config.caption}}>{{config.caption}}</caption>
  <thead>
    <tr>
      <th class="column-id">#</th>
      <th ng-repeat="column in config.columns">{{column}}</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in data">
      <td class="column-id">{{$index + 1}}</td>
      <td ng-repeat="column in config.columns">{{row[$index]}}</td>
    </tr>
    <!-- <tr class="new-row">
      <td class="add-row">
        <a ng-click="addRow()">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
        </a>
      </td>
      <td ng-repeat="column in config.columns"></td>
    </tr> -->
  </tbody>
</table>
